.inerPage{
	&.withoutborder{
		&.calenderPage{
			.calenderTopList{
				@media screen and (max-width:767px){
					margin-bottom: 10px;
				}
				li{
					@include pos(r, null);
					@include text-format-weight(18px,$purple,$medium);
					padding: 0 10px 0 0;
					@media screen and (max-width:1200px){
						font-size: 14px;
					}
					@media screen and (max-width:767px){
						display: block;
						font-size: 14px;
					}
					&:before{
						content: '|';  						
						display: inline-block;
						margin-right: 10px;
						@media screen and (max-width:767px){
							content: none;
							margin-right: 0;
						}
					} 
					&:first-child{
						&:before{
							content: none;
						}
					}
				}
			}
			.box{
				padding:10px 0 25px 0;
				@media screen and (max-width:767px){
					padding:0px;
				}
			}
		}		
	}
}
