.changepasswordPage{
	padding-left: 55px;
	padding-right: 55px;	
	@media screen and (max-width:992px){
		padding-left: 15px;
		padding-right: 15px;
	}
	.form-group{
		margin-bottom: 30px;
		@media screen and (max-width:992px){
			margin-bottom: 15px;
		}
		label{
			@include text-format-weight(18px,$black,$medium);
			@media screen and (max-width:992px){
				font-size: 14px;
			}
		}
		&.submitbtn{
			padding-top: 30px;
			@media screen and (max-width:992px){
				padding-top: 10px;
			}
			.btn{
				margin-bottom: 10px;
			}
		}
	}
}

