$blue-color:#7d8eb5;
$sky-blue:#18a5ff;
$darkblue-color:#39528d;
$orange:#ff5e20;
$black:#000; 
$white:#fff;
$purple:#1c1154;
$mehroon:#d13a00;
$light-blue:#81a6ac;  
$yellow:#ffcc21;
$default: #616161 !default;
$color-e5:#e5e5e5;
$color-ef:#efefef;
$color-ee:#eeeeee;
$color-fe:#fefefe; 
$color-18:#181818; 
$color-e8:#e8e8e8; 
$color-4c:#4c4c4c; 
$tableletrenate:#dae6e8;
$dark-blue:#213b78;
$tab-blue:#97b7e6;
$green:#11db39;
$navyColor:#43609c;
$color-d9:#d9d9d9;
$color-79:#797979;
$color-e5:#e5e5e5;
$transparent-color:transparent; 
$color-cc:#cccccc;

$family: 'Work Sans', sans-serif;
$desktop:1300px;
$mini-desktop:1200px;
$mini-tab:992px;
$tab:767px;
$image-path		  : "../images" !default;
$font-path        : "../fonts" !default;
$icons-font-path  : "../fonts/custom-font/fonts" !default;
$bold:'work_sansbold';
$medium:'work_sansmedium';
$normal:'work_sansregular';
$semibold:'work_sanssemibold';
$light:'work_sanslight';




$moonfamily:'icomoon' !important;    
$large-desktop:1400px;
$desktop:1367px;
$mini-desktop:1170px; 
$tablet-landscape:1024px;
$tablet:992px;
$ptablet:767px;
$mobile:479px;

$image-path		  : "../images" !default;
$font-path        : "../../assets/fonts" !default;
$icons-font-path  : "../fonts/fonts" !default;