<div class="bannersetion">
    <div class="container">
        <div class="box">
            <h1>The End-to-End Solution to Home Renovations</h1>  
            <p>The easy way of being organised and getting the right value</p> 
            <div class="custom-tabs">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#customerTab">Customer</a></li>
                    <li><a data-toggle="tab" href="#professionalTab">Professional</a></li>
                </ul>
                <div class="tab-content">
                    <div id="customerTab" class="tab-pane fade in active">
                        <div class="form-outer">
                            <div class="fieldbox">
                                <div class="form-group">
                                    <div class="select-outer smallicon">
                                        <select class="form-control">
                                            <option>Pick a Room</option>
                                            <option>Room 1</option>
                                            <option>Room 1</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group searchbox">
                                    <div class="input-group searchInput">
                                        <span class="input-group-addon" id="search"><i class="icon-search"></i></span>
                                        <input type="text" class="form-control" placeholder="Which Professional You Require?" aria-describedby="search">
                                        
                                    </div> 
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Postal Code">
                                </div>
                            </div>
                            <div class="form-group submitbtn">
                                <input type="submit" value="Get Started" class="btn themeBtn yellow min-width165">
                            </div>
                        </div>
                    </div>
                    <div id="professionalTab" class="tab-pane fade">
                        <div class="form-outer">
                            <div class="fieldbox">
                                <div class="form-group">
                                    <div class="select-outer smallicon">
                                        <select class="form-control">
                                            <option>Pick a Room</option>
                                            <option>Room 1</option>
                                            <option>Room 1</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group searchbox">
                                    <div class="input-group searchInput">
                                        <span class="input-group-addon" id="search"><i class="icon-search"></i></span>
                                        <input type="text" class="form-control" placeholder="Which Professional You Require?" aria-describedby="search">                                        
                                    </div> 
                                </div>
                                <div class="form-group">
                                    <div class="select-outer smallicon">
                                        <select class="form-control">
                                            <option>Within 15 Miles</option>
                                            <option>1</option>
                                            <option>1</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group submitbtn">
                                <input type="submit" value="Get Started" class="btn themeBtn yellow min-width165">
                            </div>
                        </div>
                    </div>
                </div>
            </div>                     
        </div>
    </div>
</div>
<!-- explore section start -->
<section class="exploreSection padding-tb">
    <div class="container">        
        <div class="title text-center">
            <h1>Not Sure What You Want? Explore</h1>                
        </div>
        <div class="row row-10">
            <div class="col-sm-3">
                <div class="box firstbox">
                    <a href="javascript:void();">
                        <div class="imgBox">                       
                            <img src="assets/images/home.jpg" alt="living room" class="img-responsive">      
                        </div>
                        <h3>Living Room</h3>
                    </a>
                </div>               
            </div>
            <div class="col-sm-3">
                <div class="box">
                    <a href="javascript:void();">
                        <div class="imgBox">
                            <img src="assets/images/livingroom.jpg" alt="living room"  class="img-responsive">      
                        </div>
                        <h3>Living Room</h3>
                    </a>
                </div>
                <div class="box">
                    <a href="javascript:void();">
                        <div class="imgBox">
                            <img src="assets/images/livingroom.jpg" alt="living room"  class="img-responsive">      
                        </div>
                        <h3>BathRoom</h3>
                    </a>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="box">
                    <a href="javascript:void();">
                        <div class="imgBox">
                            <img src="assets/images/livingroom.jpg" alt="living room"  class="img-responsive">      
                        </div>
                        <h3>BedRoom</h3>
                    </a>
                </div>
                <div class="box">
                    <a href="javascript:void();">
                        <div class="imgBox">
                            <img src="assets/images/livingroom.jpg" alt="living room"  class="img-responsive">      
                        </div>
                        <h3>Garage</h3>
                    </a>
                </div>
            </div>
            <div class="col-sm-3 ">
                <div class="box">
                    <a href="javascript:void();">
                        <div class="imgBox">
                            <img src="assets/images/livingroom.jpg" alt="living room"  class="img-responsive">      
                        </div>
                        <h3>Kitchen</h3>
                    </a>
                </div>
                <div class="box">
                    <a href="javascript:void();">
                        <div class="imgBox">
                            <img src="assets/images/livingroom.jpg" alt="living room"  class="img-responsive">      
                        </div>
                        <h3>Outdoors</h3>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- explore section end -->

<!-- how it work section start -->
<section class="howItworkSection padding-tb">
    <div class="container">        
        <div class="title text-center">
            <h1>How URevamp Works</h1>                
        </div>
        <div class="row">
            <div class="col-sm-4 box">
            	<div class="imgBox">
                    <i class="icon-persons"></i>                    
                </div>
                <p> Post a Project with your ideas and availability to receive visits</p>
            </div>
            <div class="col-sm-4 box">
                <div class="imgBox">
                    <i class="icon-bid"></i>                    
                </div>
                <p>Receive bids and compare on multiple factors not only price</p>
            </div>
            <div class="col-sm-4 box">
                <div class="imgBox">
                    <i class="icon-tickcircle"></i>                    
                </div>
                <p>Accept the best bid, Execute and Follow Up through the platform</p>
            </div>
            <div class="col-sm-4 box">
                <div class="imgBox">
                    <i class="icon-save"></i>                    
                </div>
                <p>Share your project and Save it for future reference</p>
            </div>
            <div class="col-sm-4 box">
                <div class="imgBox">
                    <i class="icon-pay"></i>                    
                </div>
                <p>Pay securely through URevamp</p>
            </div>
            <div class="col-sm-4 box">
                <div class="imgBox">
                    <i class="icon-star"></i>                    
                </div>
                <p>Leave public Reviews to the Professional</p>
            </div>
        </div>
    </div>
</section>
<!-- how it work section end -->
<!-- experienceSection start -->
<section class="experienceSection padding-tb">
    <div class="container">
        <div class="title text-center">
            <h1>URevamp Experiences</h1>                
        </div>
        <script type="text/ng-template" id="tpl.html">
            <div class="item">                
                <div class="imgBox">
                    <a href="javascript:void();">
                        <img src="assets/images/experienceimg1.jpg" alt="living room"  class="img-responsive">      
                    </a>
                </div>
                <h3><a href="javascript:void();">kitchen Water Leakage Repair</a></h3>      
            </div>
        </script> 
        <slick settings="slickConfig" ng-if="numberLoaded" infinite=true slides-to-show=3 slides-to-scroll=3>
            <div ng-repeat="i in number">
                <div class="" ng-include="'tpl.html'"></div>
            </div>
        </slick>       
    </div>
</section>
<!-- experienceSection end -->
<!-- blog section start -->
<section class="blogSection padding-tb">
    <div class="container">
        <div class="title text-center">
            <h1>Blog and Market Trends</h1>                
        </div>
        <script type="text/ng-template" id="blogslide.html">
            <div class="item">
                <div class="imgBox">
                    <a href="javascript:void();">
                        <img src="assets/images/blogimg.jpg" alt="blogimg"  class="img-responsive">
                    </a>
                </div>
                <h3><a href="javascript:void();">Blog Post Title</a></h3>   
                <p>Lorem Ipsum is simply dummy text of the eri noting and typesetting industry. Lorm Ipsums has been the industry's standard...</p> 
                <h4><i class="icon-calendar"></i> Augest 01, 2017</h4> 
                <ul>
                    <li><i class="icon-heart"></i></li>
                    <li><i class="icon-share"></i></li>
                </ul> 
            </div>
        </script> 
        <slick settings="slickConfig" class="blogslider" ng-if="numberLoaded" infinite=true>
            <div ng-repeat="i in number">
                <div class="" ng-include="'blogslide.html'"></div>
            </div>
        </slick> 
        <div class="clearfix text-center viewbtn">
            <a href="#" class="btn themeBtn orange lBtn regular">View All</a>     
        </div>
    </div>
</section>
<!-- blog section end -->
