<banner title="Project in Execution"></banner>
<div class="innercontentpage">
    <div class="container inerPage">         
        <div class="row box profileSection">
            <div class="col-sm-6 col-md-5">
                <div class="imgPhoto">
                    <div class="uploadedimg">
                        <img src="assets/images/contactimg.jpg" alt="image" class="img-responsive">
                    </div>
                </div>
                <h2>Albert Smith</h2>   
                <h4>Member Since</h4>   
                <h3>20 June 2018</h3>                
            </div>
            <div class="col-sm-6 col-md-7 addresspreview">
                <div class="row">
                    <div class="col-md-6">
                        <p><i class="icon-loc"></i> 121 Cheert Ridge Road State College New York, NY</p>
                    </div>
                    <div class="col-md-6">
                        <p><i class="icon-mail"></i> albertsmith@gmail.com</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <p><i class="icon-phoneIcon"></i> 7911 123456</p>
                    </div>                  
                </div>
            </div>            
        </div>
        <div class="row box">
            <div class="col-sm-5">
                <h2>Project Title</h2> 
                <p>Fix the hole in the wall</p>
            </div> 
            <div class="col-sm-7">
                <h2>Room</h2>
                <p>Kitchen</p>                
            </div>
        </div>
        <div class="row box">
            <div class="col-sm-12"> 
                <h2>Description</h2>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy txt
                evers since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived ot only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release off Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including vrsnsof Lorem Ipsum</p>
            </div>
        </div>
        <div class="row box">
            <div class="col-sm-12">
                <h2>Scope</h2>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy txt
                evers since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release off Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including vrsnsof Lorem Ipsum</p>
            </div>
        </div>        
        <div class="row box">
            <div class="col-sm-12">
                <h2>Photos</h2>               
            </div>
            <div class="col-sm-12 uploadPhoto">
                <div class="imgOuter">
                    <button class="icon-close"></button>
                    <div class="userimage">
                        <img src="assets/images/photoupload.png" class="img-responsive" alt="">
                    </div>
                </div>
                <div class="imgOuter">
                    <button class="icon-close"></button>
                    <div class="userimage">
                        <img src="assets/images/photoupload.png" class="img-responsive" alt="">
                    </div>                        
                </div> 
                <div class="imgOuter">
                    <div class="userimage">
                        <img src="assets/images/dummyImage.png" class="img-responsive" alt="">
                        <div class="uploadBtn">
                            <input type="file">
                            <span><i class="icon-pluscircle"></i></span>
                        </div>
                    </div>
                </div>                          
            </div>             
        </div>
        <div class="row box">
            <div class="col-sm-12">
                <h2>Files</h2>               
            </div>
            <div class="col-sm-12 uploadPhoto fileuploaded">
                <div class="imgOuter">
                    <button class="icon-close"></button>
                    <div class="userimage">
                        <img src="assets/images/docimage.png" class="img-responsive" alt="">
                    </div>
                    <span class="filename">Paint Specs</span>
                </div>
                <div class="imgOuter">
                    <button class="icon-close"></button>
                    <div class="userimage">
                        <img src="assets/images/docimage.png" class="img-responsive" alt="">
                    </div>
                    <span class="filename">Color Pallete</span>  
                </div>  
                <div class="imgOuter">
                    <div class="userimage">
                        <img src="assets/images/dummyImage.png" class="img-responsive" alt="">
                        <div class="uploadBtn">
                            <input type="file">
                            <span><i class="icon-pluscircle"></i></span>
                        </div>
                    </div>
                </div>                       
            </div>             
        </div>
        <div class="row box"> 
            <div class="col-sm-12">
                <h2>Is there anything you would like to add? Attach saved articles from your URevamp library</h2>               
            </div>
            <div class="col-sm-12 uploadPhoto">
                <div class="imgOuter">
                    <button class="icon-close"></button>
                    <div class="userimage">
                        <img src="assets/images/photoupload.png" class="img-responsive" alt="">                        
                    </div>
                    <span class="filename">Carpenter design</span>
                </div>
                <div class="imgOuter">
                    <button class="icon-close"></button>
                    <div class="userimage">
                        <img src="assets/images/photoupload.png" class="img-responsive" alt="">                        
                    </div>
                    <span class="filename">Carpenter design</span>                        
                </div> 
                <div class="imgOuter">
                    <div class="userimage">
                        <img src="assets/images/dummyImage.png" class="img-responsive" alt="">
                        <div class="uploadBtn">
                            <input type="file">
                            <span><i class="icon-pluscircle"></i></span>
                        </div>
                    </div>
                </div>                          
            </div>             
        </div>
        <div class="row box">
            <div class="col-sm-12">
                <h2>Contractual Terms</h2>
                <div class="custom-tabs">
                    <ul class="nav nav-tabs">
                        <li><a data-toggle="tab" href="#scopeTab">Scope</a></li>
                        <li class="active"><a data-toggle="tab" href="#paymentTermsTab">Payment Terms</a></li>
                        <li><a data-toggle="tab" href="#due-DateTab">Due Date</a></li>
                        <li><a data-toggle="tab" href="#warrantyTab">Warranty</a></li>
                        <li><a data-toggle="tab" href="#othersTab">Others</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="scopeTab" class="tab-pane fade">
                            <div class="tabContentInner">
                                <p>50% before starting and 50% at the end</p>
                            </div>
                        </div>
                        <div id="paymentTermsTab" class="tab-pane fade  in active">
                            <div class="tabContentInner">
                                <div class="table-responsive">
                                    <table class="table customTable">
                                        <thead>
                                            <tr> 
                                                <th>Milestone Title</th>
                                                <th>Milestone Description</th>
                                                <th>Amount</th> 
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="mile_list in [1,2]">
                                                <td>Fix a wall paint (Milestone 1)</td>
                                                <td>We have to fix firstly the wall paint. It will take one day job</td>
                                                <td>$100</td>   
                                            </tr>                                        
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row text-center bottom-btn"> 
                    <div class="col-sm-12">
                        <a data-ui-sref="main.contract" class="btn themeBtn min-width180 orange">See Full Contract</a>
                    </div>
                </div>
            </div>
        </div> 
        <div class="row box">
            <div class="col-sm-12">
                <h2>Customer Facing Materials</h2>
                <div class="table-responsive">
                    <table class="table customTable">
                        <thead>
                            <tr> 
                                <th>Quantity</th>
                                <th>Unit</th>
                                <th>Material</th>
                                <th>Attribute 1</th>
                                <th>Attribute 2</th>
                                <th>Attribute 3</th>
                                <th>Brand</th>                             
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="Material_list in [1,2,3]">
                                <td>1</td>
                                <td>Gallon</td>                    
                                <td>Paint</td>
                                <td>White</td>         
                                <td>High Durability</td>     
                                <td>Highly Scrubable</td>
                                <td>Brand Name</td>                           
                            </tr>   
                        </tbody>
                    </table>
                </div>   
            </div>
            <div class="col-sm-12 pt-30">
                <h2>Payments</h2>
                <div class="table-responsive">
                    <table class="table customTable">
                        <thead>
                            <tr> 
                                <th>Amount</th>
                                <th>Payment Milestones</th>
                                <th>Status</th>
                                <th>Actions</th>                                      
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>$5000</td>
                                <td>Fix a wall paint (Milestone 1)</td>                    
                                <td class="orange">Received</td>
                                <td><a href="#">Go to URevamp wallet</a></td>   
                            </tr>   
                            <tr>
                                <td>$5000</td>
                                <td>Fix a wall paint (Milestone 2)</td>                    
                                <td>Pending</td>
                                <td class="orange underline">Request Payment</td>   
                            </tr>                                                            
                        </tbody>
                    </table>
                </div>   
            </div>
        </div>
       
        <div class="row text-center bottom-btn">
            <div class="col-sm-12">
                <a  data-ui-sref="main.urevamp-wallet" class="btn themeBtn min-width180 orange">URevamp Wallet</a>
                <a href="" class="btn themeBtn min-width180 yellow">Back</a>
            </div>
        </div>        
    </div>
</div>

