<div class="loginSignupPage">
    <div class="container container-840">
        <div class="title text-center">
            <h1>Sign Up to Manufacturer Account</h1>                
        </div>
        <form>
            <div class="clearfix loginbox">
                <div class="feilds">
                    <div class="form-group infoiconUter">
                        <input type="email" class="form-control" placeholder="Email Address">
                        <div class="infoicon"><i class="icon-info" tooltips tooltip-template="tooltip"></i></div>
                        <div class="message text-danger">Error Messsage</div>
                    </div>
                    <div class="form-group infoiconUter">
                        <input type="Password" class="form-control" placeholder="Password">
                        <div class="infoicon"><i class="icon-info" tooltips tooltip-template="tooltip"></i></div>
                        <div class="message text-success">Success Messsage</div>
                    </div> 
                    <div class="form-group infoiconUter">
                        <input type="Password" class="form-control" placeholder="Confirm Password">
                        <div class="infoicon"><i class="icon-info" tooltips tooltip-template="tooltip"></i></div> 
                    </div>  
                           
                    <div class="form-group submitbtn">
                        <input type="submit" data-ui-sref="main.login"  value="Done" class="btn themeBtn btn-block">
                    </div>
                    <div class="tagline">
                        <p>Already have an account? <a data-ui-sref="main.mf_login">Login</a></p>
                    </div>
                </div>
                <div class="or text-center">
                    <span>Or</span>
                </div>
                <div class="socialbtns">                  
                    <a href="#" class="btn themeBtn btn-block linked"><i class="icon-linked-i"></i> <span>Continue with Linkedin</span></a>
                    <a href="#" class="btn themeBtn btn-block facebok"><i class="icon-facebook-i"></i> <span>Continue with Facebook</span></a>
                    <a href="#" class="btn themeBtn btn-block twiter"><i class="icon-twitter-i"></i> <span>Continue with Twitter</span></a>
                    <a href="#" class="btn themeBtn btn-block google-btn"><i class="icon-googleplus-i"></i> <span>Continue with Google</span></a>
                </div>
            </div>            
        </form>           
    </div>
</div>
