<banner title="Account Settings"></banner>
<div class="innercontentpage">
    <div class="container">        
        <div class="row deleteaccountPage"> 
            <div class="col-sm-12">
                <ul>
                    <li><a data-ui-sref="main.changepassword">Change Password</a></li>
                    <li><a data-ui-sref="main.activity-log">Activity Log</a></li>
                    <li><a data-ui-sref="main.delete-account">Delete my Account</a></li>
                </ul>
            </div>
        </div>        
    </div>
</div>

