<banner title="Activity Log"></banner>
<div class="innercontentpage">
    <div class="container">         
        <div class="row activitylogpage">
            <div class="col-sm-12 box-outer"> 
                <h4>Activity Log</h4>                
                <div class="box">
                    <p>Register  
                    <span class="date">1 July 2018, 11:20 am</span></p>
                </div>
                <div class="box"> 
                    <p>Profile Completion
                    <span class="date">1 July 2018, 11:20 am</span></p>
                </div>
                <div class="box">
                    <p>Last Profile Update
                    <span class="date">1 July 2018, 11:20 am</span></p>
                </div>
                <div class="box">
                    <p>Account Verification
                    <span class="date">1 July 2018, 11:20 am</span></p>
                </div>             
            </div>
            <div class="col-sm-12 box-outer">
                <h4>Our Terms &amp; Conditions Log</h4>                
                <div class="box">
                    <p><a>6 July 2018, 11:20 am</a></p>                    
                </div>                               
            </div>
            <div class="col-sm-12 box-outer">
                <h4>Our Privacy Policies Log</h4>                
                <div class="box">
                    <p><a>6 July 2018, 11:20 am</a></p>                     
                </div>                               
            </div>
            <div class="col-sm-12 box-outer">
                <h4>Our Consent</h4>                
                <div class="box">
                    <p><a>6 July 2018, 11:20 am</a></p>                    
                </div>                              
            </div>
        </div>        
    </div>
</div>

