<banner title="Contract"></banner>
<div class="innercontentpage">
    <div class="container inerPage contractPage">        
        <div class="row box">
            <div class="col-sm-5">
                <h2>Project Title</h2>
                <p>Fix the hole in the wall</p> 
            </div>
            <div class="col-sm-7">
                <h2>Names</h2>
                <p>The contract is between ‘Customer name here’ and Professional name here’</p>
            </div>
        </div>
        <div class="row box">
            <div class="col-sm-12">
                <h2>Scope of Work - Services Performed by the Professional</h2>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy txt evers since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s
                with the release off Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including vrsnsof Lorem Ipsum</p>
            </div>
        </div>
        <div class="row box">
            <div class="col-sm-12">
                <h2>Time for Performance</h2>
                <p>The professional should commence the work in the daylight hours</p>
            </div>
        </div>
        <div class="row box">
            <div class="col-sm-5">
                <h2>Proposed Start Date</h2>
                <p>Wednesday 19, Jan 2017</p>
            </div>
            <div class="col-sm-7">
                <h2>Estimated End Date</h2>
                <p>Wednesday 29, Jan 2017</p>
            </div>
        </div>
        <div class="row box">
            <div class="col-sm-12">
                <h2>Payment Terms</h2>
                <p>50% before starting and 50% at the end</p>               
            </div>
        </div>
        <div class="row box">
            <div class="form-group col-sm-4">
                <label>Country of Residence</label>
                <div class="select-outer smallicon">
                    <select class="form-control">
                        <option>Select</option>
                        <option>Select</option>
                        <option>Select</option>
                    </select>
                </div>
            </div>
            <div class="form-group col-sm-4">
                <label>Birthday</label>
                <div class="cal-outer ">
                    <input type="text" class="form-control" placeholder="Select">
                </div>
            </div>
            <div class="form-group col-sm-4">
                <label>Nationality</label>
                <div class="select-outer smallicon">
                    <select class="form-control">
                        <option>Select</option>
                        <option>Select</option>
                        <option>Select</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row box">
            <div class="col-sm-12">
                <h2>Upload Your ID Proof </h2>
                <p>URevamp needs your ID/Passport/Driver's License for transactions above 2000 GBP</p>
            </div>
            <div class="col-sm-12 radio-outer idproofOption">
                <label class="z_radio">
                    <input type="radio" name="radioInline" checked="checked">
                    <span>Id</span>
                </label>
                <label class="z_radio">
                    <input type="radio" name="radioInline">
                    <span>Passport</span>
                </label>
                <label class="z_radio">
                    <input type="radio" name="radioInline">
                    <span>Driver’s License</span>
                </label>                                                    
            </div>
            <div class="col-sm-12 form-group uploadPhoto">
                <div class="imgOuter">
                    <div class="userimage">
                        <img src="assets/images/dummyImage.png" class="img-responsive" alt="">
                        <div class="uploadBtn">
                            <input type="file">
                            <span><i class="icon-pluscircle"></i></span>
                        </div>
                    </div>
                </div>
                <div class="imgOuter">
                    <div class="userimage">
                        <img src="assets/images/dummyImage.png" class="img-responsive" alt="">
                        <div class="uploadBtn">
                            <input type="file">
                            <span><i class="icon-pluscircle"></i></span>
                        </div>
                    </div>                        
                </div>                        
            </div>             
        </div>
        <div class="row box">
            <div class="col-sm-12">
                <h2>Renovation Contract</h2>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy txt evers since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s
                with the release off Letraset sheets containing Lorem Ipsum passages, and more recently with esktop publishing software like Aldus PageMaker including vrsnsof Lorem Ipsum</p>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy txt evers since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s
                with the release off Letraset sheets containing Lorem Ipsum passages, and more recently with esktop publishing software like Aldus PageMaker including vrsnsof Lorem Ipsum</p>
            </div>
        </div>  
        <div class="row text-center bottom-btn">
            <div class="col-sm-12">
               <a data-ui-sref="main.Bid-details-submitted-professional" class="btn themeBtn min-width180 orange">Done</a>
               <a href="" class="btn themeBtn min-width180">Print</a>
               <a data-ui-sref="main.Bid-details-submitted-professional" class="btn themeBtn min-width180 yellow">Cancel</a>
            </div>
        </div>        
    </div>
</div>

