<banner title="Contact Us"></banner>
<div class="innercontentpage"> 
    <div class="container inerPage contactsPage"> 
        <div class="row">
            <div class="col-sm-12">
                <h2>We’d love to hear from you</h2>
                <p>Send us a message and we’ll respond as soon as possible</p>
            </div>
        </div>
        <div class="row row-45">
            <div class="col-sm-6 col-sm-push-6 addressbox">
                <ul>
                    <li>
                        <span class="icon"><i class="icon-gps"></i></span>
                        <span class="iconinfo">City of London, Guildhall, PO Box 270. London, EC2P 2EJ</span>
                    </li>
                    <li>
                        <span class="icon"><i class="icon-mobile"></i></span>
                        <span class="iconinfo">(800) 900-200-300</span>
                    </li>
                    <li>
                        <span class="icon"><i class="icon-msg"></i></span>
                        <span class="iconinfo">info.Urevamp.com</span>
                    </li>
                </ul>
            </div>
            <div class="col-sm-6 col-sm-pull-6">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Full Name">
                </div>
                 <div class="form-group">
                    <input type="text" class="form-control" placeholder="Your Email">
                </div>
                 <div class="form-group">
                    <textarea class="form-control" placeholder="Message"></textarea>
                </div>
                <div class="form-group text-right">
                    <input type="submit" value="Submit" class="btn themeBtn orange regular min-width150">
                </div>
            </div>            
        </div>
    </div>
</div>

