<banner tabs="innerBox" customertabs="innerBox1" title="My Projects"></banner>
<div class="innercontentpage">
    <div class="container">
        <div class="row inerPage withoutborder myprojectpage">
            <div class="col-sm-12">          
                <div class="bannerbtn">
                    <div class='project-count'>Total Projects : 20</div>
                </div>   
                <!-- top filters start -->
                <div class="row box pickroomoption">
                    <div class="col-sm-12">
                        <label>Pick a Room</label>                  
                    </div>   
                    <div class="form-group radio-outer selectRoomOption col-sm-12"> 
                        <label class="z_radio">
                            <input type="radio" name="pickroom" checked>
                            <span class="iconinf">
                                <i class="icon-hotel"></i>
                                <em>Entire Home</em>
                            </span>
                        </label> 
                        <label class="z_radio">
                            <input type="radio" name="pickroom">
                            <span class="iconinf">
                                <i class="icon-livingroom"></i>
                                <em>Living Room</em>
                            </span>
                        </label>
                        <label class="z_radio">
                            <input type="radio" name="pickroom">
                            <span class="iconinf">
                                <i class="icon-bed"></i>
                                <em>Bedroom</em>
                            </span>
                        </label>
                        <label class="z_radio">
                            <input type="radio" name="pickroom">
                            <span class="iconinf">
                                <i class="icon-kitchen"></i>
                                <em>Kitchen</em>
                            </span>
                        </label>                
                        <label class="z_radio">
                            <input type="radio" name="pickroom">
                            <span class="iconinf">
                                <i class="icon-bath"></i>
                                <em>Bathroom</em>
                            </span>
                        </label>
                        <label class="z_radio">
                            <input type="radio" name="pickroom">
                            <span class="iconinf">
                                <i class="icon-garage"></i>
                                <em>Garage</em>
                            </span>
                        </label>
                        <label class="z_radio">
                            <input type="radio" name="pickroom">
                            <span class="iconinf">
                                <i class="icon-park"></i>
                                <em>Outdoors</em>
                            </span>
                        </label>                                           
                    </div>
                </div>
                <div class="filterRow row row-10">       
                    <div class="form-group col-sm-3"> 
                        <div class="select-outer smallicon">
                            <select class="form-control">
                                <option>Select Professional</option>
                                <option>option1</option>
                                <option>option1</option>
                            </select>
                        </div> 
                    </div>
                    <div class="form-group col-sm-3">
                        <div class="cal-outer">
                            <input type="text" class="form-control" placeholder="Select Start Date">
                        </div>
                    </div>
                    <div class="form-group col-sm-3">
                        <div class="cal-outer">
                            <input type="text" class="form-control" placeholder="Select End Date">
                        </div>
                    </div>
                    <div class="form-group col-sm-3"> 
                        <div class="select-outer smallicon">
                            <select class="form-control">
                                <option>Select Upcoming Visits</option>
                                <option>option1</option>
                                <option>option1</option>
                            </select>
                        </div>
                    </div>      
                </div>
                <!-- top filters end -->
                <div class="row box"> 
                    <div class="col-sm-12">
                        <div class="table-responsive">
                            <table class="table customTable">
                                <thead>
                                    <tr> 
                                        <th>Status</th>
                                        <th>Room</th>
                                        <th class="nowrap">Project Title</th>
                                        <th>Professional Required</th>
                                        <th>Payment Due</th>
                                        <th class="nowrap">Start Date | End Date</th>
                                        <th>Bids Received</th>
                                        <th>Actions Items</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="myproject in [1,2]">
                                        <td>In Execution</td>
                                        <td>Living Room</td>                    
                                        <td>Fix a hole in the wall</td>
                                        <td>Plasterer</td>         
                                        <td class="orange">Yes</td>
                                        <td class="nowrap">23-04-2018 | 29-04-2018</td>     
                                        <td>14</td>                                 
                                        <td>
                                            <a data-ui-sref="main.post-detail-with-bid" class="orange underline">Review</a>
                                        </td>
                                    </tr>   
                                    <tr ng-repeat="myproject_list in [1,2]">
                                        <td>In Execution</td>
                                        <td>Cintia</td>                    
                                        <td>Fix a hole in the wall</td>
                                        <td>Plasterer</td>   
                                        <td>No</td>      
                                        <td class="nowrap">23-04-2018 | 29-04-2018</td>   
                                        <td>400</td>                              
                                        <td>
                                            <div class="actionDropdown" uib-dropdown dropdown-append-to-body="true" is-open="list">
                                                <span ng-click="tabel_dropdown(list)" class="icon-threedot" uib-dropdown-toggle>
                                                </span>
                                                <ul class="dropdown-menu dropdown_list" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">
                                                    <li>ShortList</li>
                                                    <li>Disregard</li>
                                                    <li>Accept Bid</li>
                                                    <li>Reject</li>
                                                    <li>View Bid</li> 
                                                </ul>
                                            </div> 
                                        </td>
                                    </tr>                   
                                </tbody>
                            </table>                           
                        </div> 
                    </div>
                </div>   
                <div class="row box">
                    <div class="col-sm-12">
                        <div class="table-responsive">
                            <table class="table customTable inversecustomTable withbottomborder">
                                <thead>
                                    <tr> 
                                        <th>Upcoming Appointments</th>
                                        <th class="text-right"><a data-ui-sref="main.detail-calender" class="orange underline">See Detailed Calendar</a></th>
                                    </tr>
                                </thead>
                                <tbody> 
                                    <tr ng-repeat="upcomming_app in [1,2]">
                                        <td><p>Nov 21th @ 7:30 Am : Leandro Chique from <a href="#" class="purple underline">Cintia Loustalet and co</a> will be visiting “ Fix a hole in the wall”</p></td>
                                        <td>
                                            <div class="actionDropdown" uib-dropdown dropdown-append-to-body="true" is-open="list">
                                                <span ng-click="tabel_dropdown(list)" class="icon-threedot" uib-dropdown-toggle>
                                                </span>
                                                <ul class="dropdown-menu dropdown_list" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">
                                                    <li>ShortList</li>
                                                    <li>Disregard</li>
                                                    <li>Accept Bid</li>
                                                    <li>Reject</li>
                                                    <li>View Bid</li> 
                                                </ul>
                                            </div> 
                                        </td>        
                                    </tr>                                 
                                </tbody>
                            </table>
                        </div> 
                    </div>
                </div>                
            </div>         
        </div> 
    </div>
</div>

