<banner title="Professional Profile"></banner>
<div class="innercontentpage">
    <div class="container inerPage">        
        <div class="bannerbtn">
            <a href="" class="btn themeBtn min-width210 orange">Invite to My Project</a>
        </div>
        <div class="row box profileSection">
            <div class="col-sm-6 col-md-5">
                <div class="imgPhoto">
                    <div class="uploadedimg">
                        <img src="assets/images/contactimg.jpg" alt="image" class="img-responsive">
                    </div>                   
                </div>
                <h2><i class="icon-batch"></i> Albert Smith</h2>   
                <div ng-init="starvalue = 1" class="ratingbox"> 
                    <span uib-rating ng-model="starvalue" max="5" state-on="'icon-yellow-star'"  state-off="'icon-grey-star'"></span> 
                    <b class="review"> {{starvalue}} <span>Reviews</span></b>
                </div>      
            </div>
            <div class="col-sm-6 col-md-7 addresspreview">
                <div class="row">
                    <div class="col-md-6">
                        <p><i class="icon-loc"></i> 121 Cheert Ridge Road State College New York, NY</p>
                    </div>
                    <div class="col-md-6">
                         <p><i class="icon-global"></i> www.abc.com</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <p><i class="icon-phoneIcon"></i> 7911 123456</p>
                    </div>
                    <div class="col-md-6">
                        <p><i class="icon-mail"></i> albertsmith@gmail.com</p>
                    </div>
                </div>
            </div>             
        </div>
        <div class="row box noborder"> 
            <div class="col-sm-8">
                <div class="table-responsive servicetradeTable">
                    <table class="table customTable">
                        <thead> 
                            <tr> 
                                <th>Service</th>
                                <th>Trade Association</th>
                            </tr>
                        </thead> 
                        <tbody>                                   
                            <tr>
                                <td>Interior Designer</td>
                                <td>Abc Association</td>                    
                            </tr>      
                            <tr>
                                <td>Interior Designer</td>
                                <td>Abc Association</td>                    
                            </tr>      
                            <tr>
                                <td>Interior Designer</td>
                                <td>Abc Association</td>                    
                            </tr>                   
                        </tbody>
                    </table>
                </div> 
            </div>
        </div> 
        <div class="row box">
            <div class="col-sm-12">
                <h2>Qualifications</h2>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dmy txt evers since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It h survivedLorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dmy txt
                evers since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It h survived</p>
            </div>
        </div> 
        <div class="row box detailsection">
            <div class="col-sm-6 col-md-3">
                <h2>Trading Name</h2>
                <p>Abc</p>
            </div>
            <div class="col-sm-6 col-md-4">
                <h2>Business Type</h2>
                <p>Sole Trader</p>
            </div>         
        </div>   
        <div class="row box">
            <div class="col-sm-12">
                <h2>Profile Photos</h2>               
            </div>
            <div class="col-sm-12 uploadPhoto profilephotos redborder">
                <div class="imgOuter">
                    <div class="userimage">
                        <img src="assets/images/profileImg.jpg" class="img-responsive" alt="">
                    </div>
                </div>
                <div class="imgOuter">
                    <div class="userimage">
                        <img src="assets/images/profileImg.jpg" class="img-responsive" alt="">
                    </div>
                </div>
                <div class="imgOuter">
                    <div class="userimage">
                        <img src="assets/images/profileImg.jpg" class="img-responsive" alt="">
                    </div>
                </div>
                <div class="imgOuter">
                    <div class="userimage">
                        <img src="assets/images/profileImg.jpg" class="img-responsive" alt="">
                    </div>                        
                </div>                                           
            </div>             
        </div>
        <div class="row box finishedproject">
            <div class="col-sm-12">
                <h2>Finished Projects</h2>
            </div> 
            <div class="col-md-10 col-md-offset-1">   
                <script type="text/ng-template" id="tpl1.html">
                    <div class="item"> 
                        <div class="shadowbox">               
                            <div class="imgBox">
                                <a href="javascript:void();">
                                    <img src="assets/images/kitchenrepair.jpg" alt="repair"  class="img-responsive">      
                                </a>
                            </div>
                        </div>
                        <h3><a href="javascript:void();">Kitchen Plumber Fitting Fixing</a></h3>      
                    </div>
                </script> 
                <slick settings="finishedProject" ng-if="numberLoaded" infinite=true>
                    <div ng-repeat="i in number">
                        <div class="" ng-include="'tpl1.html'"></div>
                    </div>
                </slick> 
            </div>
        </div>

        <div class="row box commentsection">
            <div class="col-sm-12">
                <div class="row box">
                    <div class="col-sm-12">
                        <h2>Overall Rating</h2>
                        <div ng-init="starvalue = 1" class="ratingbox"> 
                            <span uib-rating ng-model="starvalue" max="5" state-on="'icon-yellow-star'"  state-off="'icon-grey-star'"></span> 
                            <b class="review"> {{starvalue}} <span> out of 5 stars</span></b>
                        </div> 
                    </div>
                </div>
                <div class="row box heading-cutomer">
                    <h2>Customer Reviews</h2>
                </div>
                <div class="row reviewlist">
                    <div class="col-sm-12 box" ng-repeat="list in comments">
                        <div class="media">
                            <div class="media-left">
                                <img src="assets/images/contactimg.jpg" class="media-object">
                            </div>
                            <div class="media-body">
                                <h3>{{list.name}}</h3>
                                <h5>{{list.date}}</h5>
                            </div> 
                            <div ng-init="starvalue = 1" class="ratingbox"> 
                                <span uib-rating ng-model="starvalue" max="5" state-on="'icon-yellow-star'"  state-off="'icon-grey-star'"></span> 
                                <!-- <b class="review"> {{starvalue}} <span>Reviews</span></b> -->
                            </div>  
                            <p>{{list.discription}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- pagination start -->
            <pagination></pagination>
            <!-- pagination end -->
        </div>        
    </div>
</div>

