<div class="footer text-center">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 footbtn">
				<a data-ui-sref="main.mf_signup" class="btn themeBtn border-btn yellow">Are You a Manufacturer?</a>
			</div>
			<div class="col-sm-12">
				<ul class="list-inline footLink">
					<li><a href="#">About Us</a></li> 
					<li><a data-ui-sref="main.contact">Contact Us</a></li>
					<li><a data-ui-sref="main.privacy">Privacy Policy</a></li>
					<li><a data-ui-sref="main.terms">Terms and Conditions</a></li>
					<li><a data-ui-sref="main.faq">FAQ</a></li>
					<li><a data-ui-sref="main.blog-and-market-trend">Blogs</a></li> 	 	 		
				</ul>
			</div>
			<div class="col-sm-12 socialList">
				<ul class="list-inline">
					<li><a href="#"><i class="icon-facebook"></i></a></li>
					<li><a href="#"><i class="icon-twitter"></i></a></li>
					<li><a href="#"><i class="icon-googleplus"></i></a></li>					
					<li><a href="#"><i class="icon-instagram"></i></a></li> 
					<li><a href="#"><i class="icon-pinterest"></i></a></li> 
				</ul>
			</div>
		</div>
	</div>
	<div class="copyright">
		<p>Patent Pending</p>
		<p>&copy;2018 URevamp Limited. All Rights Reserved.</p>
	</div>	
</div>