<banner title="Setup Your Professional Profile"></banner>
<div class="innercontentpage">
    <div class="container">        
        <div class="row inerPage withoutborder professionalProfilePage">
            <div class="col-md-offset-1 col-md-10">
                <div class="row box">
                    <div class="col-sm-12">
                        <h3>URevamp will check your Trade Association affiliations before giving you a badge for your profile</h3>
                    </div>
                    <div class="form-group col-sm-6">
                        <label>Choose a service you provide</label>
                        <div class="select-outer smallicon">
                            <select class="form-control">
                                <option>Select</option>
                                <option>option1</option>
                                <option>option1</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label>To which relevant trade association do you belong?</label>
                        <div class="select-outer smallicon">
                            <select class="form-control">
                                <option>Select</option>
                                <option>option1</option>
                                <option>option1</option> 
                            </select>
                        </div>
                    </div>  
                    <div class="col-sm-12 form-group">   
                        <a href="" class="btn themeBtn min-width110 orange">Add</a>          
                    </div>
                </div>
                <div class="row box"> 
                    <div class="col-sm-10">
                        <label>Services and Trade Associations</label>
                        <div class="table-responsive servicetradeTable">
                            <table class="table customTable">
                                <thead> 
                                    <tr> 
                                        <th>Service</th>
                                        <th>Trade Association</th>
                                    </tr>
                                </thead> 
                                <tbody>                                   
                                    <tr>
                                        <td>Interior Designer</td>
                                        <td>Abc Association</td>                    
                                        <td class="icons"> 
                                            <a href="#"><i class="icon-edit yellow"></i></a>
                                            <a href="#"><i class="icon-delete-button orange"></i></a>
                                        </td>                    
                                    </tr>      
                                    <tr>
                                        <td>Interior Designer</td>
                                        <td>Abc Association</td>                    
                                        <td class="icons"> 
                                            <a href="#"><i class="icon-edit yellow"></i></a>
                                            <a href="#"><i class="icon-delete-button orange"></i></a>
                                        </td>                    
                                    </tr>      
                                    <tr>
                                        <td>Interior Designer</td>
                                        <td>Abc Association</td>                    
                                        <td class="icons"> 
                                            <a href="#"><i class="icon-edit yellow"></i></a>
                                            <a href="#"><i class="icon-delete-button orange"></i></a>
                                        </td>                    
                                    </tr>                   
                                </tbody>
                            </table>
                        </div> 
                    </div>
                </div> 
                <div class="row box">
                    <div class="form-group col-sm-12">
                        <label>What are your qualifications?</label>
                        <textarea  class="form-control" placeholder="Name any relevant qualification like certificates, courses, awards, etc"></textarea>
                    </div>                       
                </div>
                <div class="row box">
                    <div class="col-sm-12">
                        <h3>If registering a company give the names of the legal representative</h3>
                    </div>
                    <div class="form-group col-sm-6">
                        <label>First Name</label>
                        <input type="text" class="form-control" placeholder="First Name">
                    </div>  
                    <div class="form-group col-sm-6">
                        <label>Last Name</label>
                        <input type="text" class="form-control" placeholder="Last Name">
                    </div>                       
                </div>
                <div class="row box">
                    <div class="form-group col-sm-6">
                        <label>Country of Residence</label>
                        <input type="text" class="form-control" placeholder="Country of Residence">
                    </div>  
                    <div class="form-group col-sm-6">
                        <label>Birthday</label>
                        <div class="cal-outer">
                            <input type="text" class="form-control" placeholder="Birthday">
                        </div> 
                    </div>                       
                </div>
                <div class="row box">
                    <div class="form-group col-sm-6">
                        <label>Nationality</label>
                        <div class="select-outer smallicon">
                            <select class="form-control">
                                <option>Select</option>
                                <option>option1</option>
                                <option>option1</option>
                            </select>
                        </div>
                    </div>                                         
                </div>
                <div class="row box">
                    <div class="form-group col-sm-6">
                        <label>Business Type</label>
                        <div class="select-outer smallicon">
                            <select class="form-control">
                                <option>Select</option>
                                <option>option1</option>
                                <option>option1</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label>Trading Name</label>
                        <div class="select-outer smallicon">
                            <select class="form-control">
                                <option>Select</option>
                                <option>option1</option>
                                <option>option1</option>
                            </select>
                        </div>
                    </div>                                         
                </div>
                <div class="row box">
                    <div class="form-group col-sm-6">
                        <label>Website (Optional)</label>
                        <input type="text" class="form-control" placeholder="Website">
                    </div>  
                    <div class="form-group col-sm-6">
                        <label>Business Phone Number (Optional)</label>
                        <input type="text" class="form-control" placeholder="Business Phone Number">
                    </div>                       
                </div>
                <div class="row box">
                    <div class="form-group col-sm-6">
                        <label>Mobile Phone Number (Optional)</label>
                        <input type="text" class="form-control" placeholder="Mobile Phone Number">
                    </div>                                       
                </div>
                <div class="row box">
                    <div class="form-group col-sm-6">
                        <label>Registered Company Name</label>
                        <input type="text" class="form-control" placeholder="Registered Company Name">
                    </div>  
                    <div class="form-group col-sm-6">
                        <label>Company Registration Number</label>
                        <input type="text" class="form-control" placeholder="Company Registration Number">
                    </div>                       
                </div>
                <div class="row box">
                    <div class="form-group col-sm-12">
                        <label>Business Address</label>
                        <input type="text" class="form-control" placeholder="Business Address">
                    </div>                      
                </div>
                <div class="row box">
                    <div class="form-group col-sm-6">
                        <label>City</label>
                        <input type="text" class="form-control" placeholder="City">
                    </div>  
                    <div class="form-group col-sm-6">
                        <label>Postcode</label>
                        <input type="text" class="form-control" placeholder="Postcode">
                    </div>                       
                </div>
                
                <div class="row box">
                    <div class="form-group col-sm-12">
                        <label>If you have a public liability insurance we recommend you upload a copy below</label>
                        <div class="uploadPhoto">
                            <div class="imgOuter">
                                <div class="userimage">
                                    <img src="assets/images/dummyImage.png" class="img-responsive" alt="">
                                    <div class="uploadBtn">
                                        <input type="file">
                                        <span><i class="icon-pluscircle"></i></span>
                                    </div>
                                </div>
                            </div>                        
                        </div>
                    </div>                       
                </div>
                <div class="row box">
                    <div class="form-group col-sm-12">
                        <label>ID Photo</label>
                        <p>Passport, European ID card or Driving License</p>
                        <div class="uploadPhoto">
                            <div class="imgOuter">
                                <div class="userimage">
                                    <img src="assets/images/dummyImage.png" class="img-responsive" alt="">
                                    <div class="uploadBtn">
                                        <input type="file">
                                        <span><i class="icon-pluscircle"></i></span>
                                    </div>
                                </div>
                            </div>                        
                        </div>
                    </div>                       
                </div>  
                <div class="row box">
                    <div class="col-sm-12">
                        <h3>If you are willing to take work >2000 GBP, then these documents need to be submitted</h3>
                    </div>
                    <div class="flex col-sm-12">
                        <div class="form-group">
                            <label>Articles of Association</label>
                            <div class="uploadPhoto">
                                <div class="imgOuter">
                                    <div class="userimage">
                                        <img src="assets/images/dummyImage.png" class="img-responsive" alt="">
                                        <div class="uploadBtn">
                                            <input type="file">
                                            <span><i class="icon-pluscircle"></i></span>
                                        </div>
                                    </div>
                                </div>                        
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Registration Proof</label>
                            <div class="uploadPhoto">
                                <div class="imgOuter">
                                    <div class="userimage">
                                        <img src="assets/images/dummyImage.png" class="img-responsive" alt="">
                                        <div class="uploadBtn">
                                            <input type="file">
                                            <span><i class="icon-pluscircle"></i></span>
                                        </div>
                                    </div>
                                </div>                        
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Shareholder Declaration</label>
                            <div class="uploadPhoto">
                                <div class="imgOuter">
                                    <div class="userimage">
                                        <img src="assets/images/dummyImage.png" class="img-responsive" alt="">
                                        <div class="uploadBtn">
                                            <input type="file">
                                            <span><i class="icon-pluscircle"></i></span>
                                        </div>
                                    </div>
                                </div>                        
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Address Proof</label>
                            <div class="uploadPhoto">
                                <div class="imgOuter">
                                    <div class="userimage">
                                        <img src="assets/images/dummyImage.png" class="img-responsive" alt="">
                                        <div class="uploadBtn">
                                            <input type="file">
                                            <span><i class="icon-pluscircle"></i></span>
                                        </div>
                                    </div>
                                </div>                        
                            </div>
                        </div>
                    </div>                       
                </div>           
                <div class="row box">
                    <div class="form-group col-sm-12">
                        <label>What is the maximum distance that you are willing to work?</label>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="select-outer smallicon">
                                    <select class="form-control">
                                        <option>Professional requried</option>
                                        <option>option1</option>
                                        <option>option1</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>                              
                </div>
                <div class="row box">
                    <div class="form-group col-sm-6">
                        <label>Sort Code</label>
                        <input type="text" class="form-control" placeholder="Sort Code">
                    </div>  
                    <div class="form-group col-sm-6">
                        <label>Account Number</label>
                        <input type="text" class="form-control" placeholder="Account Number">
                    </div>                       
                </div>
                <div class="row box">
                    <div class="form-group col-sm-6">
                        <label>Account Holder Name</label>
                        <input type="text" class="form-control" placeholder="Account Holder Name">
                    </div>                                      
                </div>
                <div class="row box">
                    <div class="form-group col-sm-12">
                        <label>Attach Photos</label>
                        <div class="uploadPhoto">
                            <div class="imgOuter">
                                <div class="userimage">
                                    <img src="assets/images/dummyImage.png" class="img-responsive" alt="">
                                    <div class="uploadBtn">
                                        <input type="file">
                                        <span><i class="icon-pluscircle"></i></span>
                                    </div>
                                </div>
                            </div>                        
                        </div>
                    </div>                       
                </div>
                <div class="row box">
                    <div class="form-group radio-outer col-sm-12">
                        <label class="z_checked">
                            <input name="checkboxInline" type="checkbox">
                            <span>By signing up, you agree to URevamp’s Terms of Use, Privacy Policy and Updates</span>
                        </label>
                    </div>                       
                </div>
               
                <div class="row text-center bottom-btn">
                    <div class="col-sm-12">
                       <a href="" class="btn themeBtn min-width180 orange">Save</a>
                       <a href="" class="btn themeBtn min-width180 yellow">Cancel</a>
                    </div>
                </div> 
            </div> 
        </div>        
    </div>
</div>

