<banner title="My Saved Projects"></banner>
<div class="innercontentpage">
    <div class="container inerPage mycontactsPage">
        <div class="row">
            <div class="col-sm-12">
                <h5 class="professtionCount">50 Professionals</h5>
            </div>
        </div>    
        <div class="row row-25">           
            <div class="col-sm-6" ng-repeat="savedproject in savedprojectinfo" > 
                <div class="box"> 
                    <div class="delbtn text-right">
                        <button class="icon-delete-button" ng-click="delete_saveproject($index)"></button>
                    </div>
                    <div class="row row-25">
                        <div class="col-sm-12">
                            <div class="imgPhoto">
                                <img src="assets/images/contactimg.jpg" alt="image" class="img-responsive">
                            </div>
                            <h2>{{savedproject.projectname}}</h2>  
                            <p class="distance"><i class="icon-placeholder"></i>5 Miles</p>
                            <h3>{{savedproject.status}}</h3>
                        </div>
                    </div>
                    <ul class="skillslist">
                        <li>Professional Requried : {{savedproject.skill}}</li>
                    </ul>
                    <ul class="moreinfo">
                        <li>Start Date : {{savedproject.startDate}}</li>
                        <li>Desired End Date : {{savedproject.EndDate}}</li>
                    </ul>
                </div>
            </div>           
        </div>
        <!-- pagination start -->
        <div class="row">    
            <pagination></pagination>                    
        </div>
        <!-- pagination end -->
    </div>
</div>

